* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #040062;
}

.header {
  border-bottom: 1px solid #dce0e9;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 28px 0;
  max-width: 1300px;
  margin: 0 auto;
  width: calc(100% - 120px);
}

.header__logo {
  font-size: 32px;
  color: #040062;
  text-decoration: none;
  font-weight: bold;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: #040062;
  font-size: 20px;
  font-weight: 500;
}

.header__button {
  padding: 10px 20px;
  background-color: #0013ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.welcome {
  margin: auto;
  max-width: 1300px;
  width: calc(100% - 120px);
  height: 640px;
  background-color: #C7E3E9;
  position: relative;
}

.welcome__title {
  color: #040062;
  font-weight: 400;
  padding-top: 80px;
  text-align: center;
  font-family: "Abril Fatface", sans-serif;
}

.welcome__line--small {
  font-size: 60px;
}

.welcome__line--average {
  font-size: 80px;
}

.welcome__line--big {
  font-size: 110px;
}

.welcome__hero {
  width: 335px;
  height: 385px;
}

.welcome__logo-img {
  position: absolute;
  left: 400px;
  bottom: 80px;
}

.welcome__hero--left {
  position: absolute;
  left: 20px;
  bottom: 0px;
}

.welcome__hero--right {
  position: absolute;
  right: 20px;
  bottom: 0px;
}

/* --- INFO BLOCK --- */

.block-info {
  padding: 100px 0;
}

.info {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1300px;
  width: calc(100% - 120px);
}

.info--left {
  flex-direction: row-reverse;
}

.info__image--pink,
.info__image--blue {
  padding: 70px 207px;
}

.info__image--pink {
  background-color: #FEF1EF;
}

.info__image--blue {
  background-color: #C7E3E9;
}

.info__image--pink img,
.info__image--blue img {
  width: 234px;
  height: 508px;
  border-radius: 37px;
}

.info__text {
  padding: 20px 100px;
  margin: auto;
}

.info__text-discription {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.info__text-discription-title {
  color: #040062;
  font-family: "Abril Fatface", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 125%;
}

.info__text-discription-text {
  color: #6D758D;
  font-size: 20px;
}

/* --- FOOTER --- */

.footer {
  border-top: 1px solid #dce0e9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: calc(100% - 120px);
  padding: 60px 0;
  margin: 0 auto;
  gap: 40px;
}

.footer__logo {
  font-size: 32px;
  color: #040062;
  text-decoration: none;
  font-weight: bold;
}

.list-links {
  display: flex;
  gap: 100px;
}

.list-links__item p {
  font-size: 22px;
  font-weight: 600;
  line-height: 220%;
}

.list-links__item ul {
  list-style: none;
}

.list-links__item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #040062;
}

.footer__information {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  font-family: "Ubuntu", sans-serif;
}

.footer__information--underline {
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {

  .info__image--pink img,
  .info__image--blue img {
    width: 220px;
    height: 477px;
  }

  .welcome__logo-img {
    left: 380px;
  }
}

@media screen and (max-width: 1300px) {

  .info__image--pink,
  .info__image--blue {
    flex: 0 0 420px;
    padding: 70px 187px;
  }

  .info__image--pink img,
  .info__image--blue img {
    width: 220px;
    height: 477px;
  }

  .welcome__hero {
    width: 315px;
    height: 355px;
  }

  .welcome__logo-img {
    width: 456px;
    left: 350px;
  }
}

@media screen and (max-width: 1200px) {

  .info__image--pink,
  .info__image--blue {
    flex: 0 0 400px;
    padding: 70px 165px;
  }

  .info__image--pink img,
  .info__image--blue img {
    width: 210px;
    height: 455px;
  }

  .welcome__logo-img {
    width: 406px;
    left: 340px;
  }

  .list-links {
    gap: 80px;
  }
}

@media screen and (max-width: 992px) {

  .info,
  .info--left {
    flex-direction: column;
  }

  .info__image--pink,
  .info__image--blue {
    padding: 70px 100px;
  }

  .info__text {
    max-width: 640px;
    padding: 50px 100px;
  }

  .info__text-discription {
    align-items: center;
  }

  .welcome__hero {
    display: none;
  }

  .welcome__logo-img {
    width: 506px;
    left: 170px;
  }
}

@media screen and (max-width: 780px) {

  .welcome {
    height: 480px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .welcome__line--small {
    font-size: 40px;
  }

  .welcome__line--average {
    font-size: 60px;
  }

  .welcome__line--big {
    font-size: 80px;
  }

  .info,
  .info--left {
    flex-direction: column;
  }

  .info__image--pink,
  .info__image--blue {
    padding: 70px 100px;
  }

  .info__text {
    max-width: 640px;
  }

  .welcome__logo-img {
    bottom: 40px;
    left: 60px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {

  .welcome {
    height: auto;
    padding: auto;
  }

  .welcome__title {
    padding: 40px;
  }

  .header-content,
  .welcome,
  .info,
  .footer-content {
    width: calc(100% - 40px);
  }

  .welcome__hero,
  .welcome__logo-img {
    display: none;
  }

  .welcome__line--small {
    font-size: 38px;
  }

  .welcome__line--average {
    font-size: 52px;
  }

  .welcome__line--big {
    font-size: 72px;
  }

  .info__image--pink,
  .info__image--blue {
    padding: 60px 40px;
  }

  .info__image--pink img,
  .info__image--blue img {
    width: 100%;
    max-width: 220px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .nav__list {
    gap: 16px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .list-links {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .footer__information {
    text-align: center;
  }
}
