* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #040062;
}

.header {
  border-bottom: 1px solid #dce0e9;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 28px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.header__logo {
  font-size: 32px;
  color: #040062;
  text-decoration: none;
  font-weight: bold;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #040062;
  font-size: 20px;
  font-weight: 500;
}

.header__button {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #0013ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.block-info {
  padding: 100px 0;
}

.info {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1300px;
}

.info--left {
  flex-direction: row-reverse;
}

.info__image--pink,
.info__image--blue {
  padding: 70px 208px;
}

.info__image--pink {
  background-color: #FEF1EF;
}

.info__image--blue {
  background-color: #C7E3E9;
}

.info__image--blue img,
.info__image--pink img {
  border-radius: 37px;
}

.info__text {
  padding: 20px 100px 20px 100px;
}

.info__text-discription {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
}

.info__text-discription-title {
  color: #040062;
  font-family: "Abril Fatface", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 125%;
}

.info__text-discription-text {
  color: #6D758D;
  font-size: 20px;
}

.footer {
  border-top: 1px solid #dce0e9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  padding: 60px 0;
  margin: 0 auto;
  gap: 40px;
}

.footer__logo {
  font-size: 32px;
  color: #040062;
  text-decoration: none;
  font-weight: bold;
}

.list-links {
  display: flex;
  gap: 100px;
}

.list-links__item p {
  font-size: 22px;
  font-weight: 600;
  line-height: 220%;
}
.list-links__item ul {
  list-style: none;
}

.list-links__item a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #040062;
}